{% extends 'pages/base.html' %}

{% block title %}Achats du {{ begin_date }} à {{ end_date }}{% endblock %}
{% block content %}

<div class="main">
    <div class="row">
        <div class="col s12 m6 l3">
            <a href="/" class="waves-effect waves-light btn amber darken-2"><i class="material-icons left">arrow_back</i>Retour</a>
        </div>
    </div>
    <h3 class="center">Achats du {{ begin_date }} à {{ end_date }}</h3>
    <div class="row user-row">
        {% for personne in data %}
        <div class="col s12 m6 l3 user-card">
            <h4>{{ personne.personne.name }}</h4>
            <table>
                <thead>
                <tr>
                    <th>Commentaire</th>
                    <th>Prix</th>
                </tr>
                </thead>

                <tbody>
                {% for achat in personne.achats %}
                <tr>
                    <td>{{ achat.message }}</td>
                    <td>{{ achat.montant|round(3) }} €</td>
                    <td>{{ achat.montant|round(2) }} €</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ personne.total|round(3) }} €</td>
                    <td>{{ personne.total|round(2) }} €</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <h3 class="center">Total : {{ total|round(3) }} €</h3>
    <h3 class="center">Total : {{ total|round(2) }} €</h3>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="ct-chart ct-major-seventh"></div>
        </div>
        <div class="col s12 m6 l6">
            <h4>Total par personne</h4>
            <table>
                <thead>
                <tr>
                    <th>Personne</th>
                    <th>Total</th>
                    <th>Delta</th>
                </tr>
                </thead>

                <tbody>
                {% for personne in data %}
                <tr>
                    <td>{{ personne.personne.name }}</td>
                    <td>{{ personne.total|round(2) }} €</td>
                    <td>{{ personne.delta|round(2) }} €</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Conclusion</td>
                    <td>{{ total|round(2) }} €</td>
                    <td>0 €</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 m6 l3">
            <select id="list-ancien">
                <option value="" disabled selected>Choose your option</option>
                {% for id, remb in list_remb %}
                    <option value="{{ id }}">{{ remb }}</option>
                {% endfor %}
            </select>
            <label>Ancien achats</label>
        </div>
        <div class="input-field col s6 m6 l3">
            <a id="go-ancien" class="waves-effect waves-light btn light-green darken-2">Go</a>
        </div>
        <div class="input-field col s6 m6 l3">
            <a href="/achats/finish" class="waves-effect waves-light btn red darken-2">Terminer la période</a>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var data = {
        labels: [
            {% for personne in data %}
                "{{ personne.personne.name.split(' ')[0][0]}}" + " : {{ personne.total | round(2)}} €",
            {% endfor %}
        ],
        series: [
            {% for personne in data %}
                {{ personne.total | round(2)}},
            {% endfor %}
        ]
    };

    new Chartist.Pie('.ct-chart', data, {
        donut: true,
        donutWidth: 60,
        donutSolid: true,
        startAngle: 270,
        showLabel: true
    });

    document.getElementById('go-ancien').addEventListener('click', function () {
        var id = document.getElementById('list-ancien').value;
        window.location.href = '/achats/old/id'.replace('id', id);
    });
</script>
{% endblock %}
