{% extends 'pages/base.html' %}

{% block title %}Ajouter un achat{% endblock %}
{% block content %}
<div class="container">
    <div class="center addbox">
        <h3>Ajouter des achats</h3>
        {% from "pages/_formhelper.html" import render_field %}
        <form method=post>
            <dl>
                {{form.personne}}
                {{render_field(form.message, placeholder='Message')}}
                {{render_field(form.montant, type='number', placeholder='Montant', step='any', min='0')}}
            </dl>
            <p><input type=submit value="Ajouter l'achat" class="waves-effect waves-light btn-large light-green darken-2">
        </form>
        <a href="/" class="waves-effect waves-light btn amber darken-2"><i class="material-icons left">arrow_back</i>Retour</a>
    </div>
</div>
{% endblock %}

