{% extends 'pages/base.html' %}

{% block title %}Retirer un achat{% endblock %}
{% block content %}
<div class="container">
    <div class="center addbox">
        <h3>Ajouter des achats</h3>
        {% from "pages/_formhelper.html" import render_field %}
        <form method=post>
            <dl>
                {{form.achat}}
            </dl>
            <p><input type=submit value="Retirer l'achat" class="waves-effect waves-light btn-large red darken-2">
        </form>
        <a href="/" class="waves-effect waves-light btn amber darken-2"><i class="material-icons left">arrow_back</i>Retour</a>
    </div>
</div>
{% endblock %}
